{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb" style="padding-left:0px; margin-left:0px;">
  {% for breadcrumb in breadcrumbs %}
  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
  {% endfor %}
  </ul>

<div class="row">
  <div class="modal fade" id="dlg_calc_setting_0" tabindex="-1" role="dialog" aria-labelledby="dlg_calc_setting_0Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dlg_calc_setting_0TitleLabel">Общие настройки расчета</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dlg_calc_setting_1" tabindex="-1" role="dialog" aria-labelledby="dlg_calc_setting_1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dlg_calc_setting_1TitleLabel">Помещения и объекты</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dlg_calc_setting_2" tabindex="-1" role="dialog" aria-labelledby="dlg_calc_setting_1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dlg_calc_setting_2TitleLabel">Виды дезинфекции</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dlg_calc_setting_3" tabindex="-1" role="dialog" aria-labelledby="dlg_calc_setting_3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dlg_calc_setting_3TitleLabel">Дез средства, рабочие концентрации</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dlg_calc_setting_4" tabindex="-1" role="dialog" aria-labelledby="dlg_calc_setting_4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dlg_calc_setting_4TitleLabel">Расчет дезсредств на отделение</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dlg_calc_setting_5" tabindex="-1" role="dialog" aria-labelledby="dlg_calc_setting_5Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dlg_calc_setting_5TitleLabel">Отправить отчет на email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dlg_calc_setting_6" tabindex="-1" role="dialog" aria-labelledby="dlg_calc_setting_6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dlg_calc_setting_6TitleLabel">Скачать отчет как PDF документ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </div>
  </div>

</div>
  
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h4>ООО «НПО «СпецСинтез»</h4> 
      <p>
        Экспресс - рассчет потребности средств, необходимых для проведения мероприятий по дезинфекции.
      </p> 
      
      <button id="calc_setting_0" class="btn btn-success btn-block" data-toggle="modal" data-target="#dlg_calc_setting_0">Общие настройки расчета</button>
      <button id="calc_setting_1" class="btn btn-success btn-block" data-toggle="modal" data-target="#dlg_calc_setting_1">Помещения и объекты</button>
      <button id="calc_setting_2" class="btn btn-success btn-block" data-toggle="modal" data-target="#dlg_calc_setting_2">Виды дезинфекции</button>
      
      </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      
      <h4 class="hidden-xs">&nbsp;</h4>
      <p  class="hidden-xs-12">&nbsp;</p>
      
      <button id="calc_setting_3" class="btn btn-success btn-block" data-toggle="modal" data-target="#dlg_calc_setting_3">Дез средства, рабочие концентрации</button>

      <button id="calc_setting_4" class="btn btn-success btn-block" data-toggle="modal" data-target="#dlg_calc_setting_4">Расчет дезсредств на отделение</button>
      
      <button id="calc_setting_5" class="btn btn-success btn-block" data-toggle="modal" data-target="#dlg_calc_setting_5" disabled="disabled">Отправить отчет на email</button>
      <button id="calc_setting_6" class="btn btn-success btn-block" data-toggle="modal" data-target="#dlg_calc_setting_6" disabled="disabled">Скачать отчет как PDF документ</button>
    </div>

  </div>

</div>

<script type="text/javascript">
  <!--
  $(document).ready(function(){
    console.log("Processing...");

    const open_setting = function ( name, obj ){
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
      console.log("Open dialog (window) " + name);
    }
/*
    $(".btn").on('click', function(e){
      open_setting( e.currentTarget.text, this )
      return false;
    })
*/
  });
  -->
</script>


{{ footer }}

