# Config and Htaccess Files

.htaccess
/www/.htaccess
www/.htaccess

old/
/old
www/old/
/www/old

www/fname.txt

www/php_errors.log


storage/logs/error.log
/storage/logs/error.log

/www/php_errors.log
www/php_errors.log

storage/logs/index.html
/storage/logs/index.html

storage/logs/openbay.log
/storage/logs/openbay.log

/storage/cache/*
storage/logs/error.log

# /www/.htaccess
/www/config.php
/www/admin/config.php
www/config.php
www/admin/config.php


# Image File
!/www/image/no_image.jpg

# Image Cache Files
/www/image/cache/*
www/image/cache/*
!/www/image/cache/index.html

# System Cache Files
/www/system/storage/cache/*
!/www/system/storage/cache/index.html

# Modification Files
/www/system/storage/modification/*
!/www/system/storage/modification/index.html

# Templates Files
/www/image/templates/*
/www/image/templates/default.jpg

# Download Files
/www/system/storage/download/*
!/www/system/storage/download/index.html

# Session Files
/www/system/storage/session/*
!/www/system/storage/session/index.html

# Upload Files
/www/system/storage/www/*
!/www/system/storage/upload/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /www/flags/*

# Log Files
/www/system/storage/logs/*
!/www/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /www/backup.install/*
# /www/install/*

/tests/phpunit/vendor/*
/tests/phpunit/composer.lock
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea
