/* sintez.css */

/*
Credits:
Code snippet by @maridlcrmn (Follow me on Twitter)
Images by Nike.com (http://www.nike.com/us/en_us/)
Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
*/

.navbar-brand { 
  width: 70px;
  height: 50px;
  /* background: url('https://lh3.googleusercontent.com/-tw5LsU4Fg28/Umo6BBcoCnI/AAAAAAAAmjE/1iqULsem06E/w896-h896/heisencat.png') no-repeat center center; */
  background-size: 50px;  
}

.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li { 
  padding: 20px 15px 15px;
  border-left: 1px solid #eee; 
}
.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 100%;
}

a.zone-select {
	color: #FEFAEA;
}

.panel_menu {
  height: 72px;
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
  outline: 0px dashed red;
  color: #FEFAEA;
  cursor: pointer;
}

.panel_menu:hover {
  background: rgb(54,154,56);
  color: #FEFAEA;
}

.panel_menu>a{
  color: #FEFAEA;
  font-size: 16px;
  text-decoration: none;
}
.panel_menu>a:hover{
  color: #FEFAEA;
}

#information {
  font-size: 16px;
}

#information>h3 {
  font-size: 24px;
  font-weight: bold;
}
#information>h5 {
  font-size: 18px;
  font-weight: bold;
}


.footer-list {
  list-style-type: none;
  padding-left: 0px;
}
.footer-list > li {
  color: #111;
}
.footer-list > li > a {
  color: #111;
  text-decoration: none;
}

.footer-list > li > a:hover {
  color: rgb(54,154,56);
}

/* modules */
.module_title {
  font=size:24px; 
  font-weight: bold; 
  border-bottom: 2px solid rgb(54,154,56);"
}

/* featured image */
.feature-image {
  background: rgb (240,244,245);
}

/* популярноые в 1 колонке справа и слева  вертикально, а не в ряд */
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

  #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

  #column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
  width: 100%;
}
