<footer style="background:rgb(240,244,245);color:#111; margin-top:20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/image/catalog/logo-325x160.png" alt="" title="" style="width:325px; height:160px;"/>
      </div>

{% if lang == 'ru' %}

      <div class="col-md-2">
        <h3>МЕНЮ</h3>
        <ul class="footer-list">
          <li><a href="#">Продукция</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Дилерам</a></li>
          <li><a href="#">Прайс-лист</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Подбор продукта</a></li>
          <li><a href="#">Дезкалькулятор</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>КОНТАКТ</h3>
        <ul class="footer-list">
          <li><a href="tel:88002003035"> <i class="fa fa-phone"></i>&nbsp;  8 800 200 30 35</a> </li>
          <li>&nbsp;</li>
          <li>Прием заказов ежедневно</li>
          <li>с 9:00 до 18:00</li>
          <li>&nbsp;</li>
          <li>Электронная почта</li>
          <li><a href="mailto:mail@specsintez.com"><i class="fa fa-envelope"></i>&nbsp;mail@specsintez.com</li>
          <li>&nbsp;</li>
          <li>Мы в соцсетях</li>
          <li>
            <a href="#"><i class="fa fa-vk"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>АДРЕС</h3>
        <ul class="footer-list">
          <li>195279, Санкт-Петербург </li>
          <li>Индустриальный пр-т, д. 49 литера "К"</li>
        </ul>
      </div>
{% endif %}

{% if lang == 'en' %}

      <div class="col-md-2">
        <h3>MENU</h3>
        <ul class="footer-list">
          <li><a href="#">Products</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Dealers</a></li>
          <li><a href="#">Price list</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Select product</a></li>
          <li><a href="#">Dez calculator</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>CONTACT</h3>
        <ul class="footer-list">
          <li><a href="tel:88002003035"> <i class="fa fa-phone"></i>&nbsp;  8 800 200 30 35</a> </li>
          <li>&nbsp;</li>
          <li>Every day </li>
          <li>From 9:00 to 18:00</li>
          <li>&nbsp;</li>
          <li>Email</li>
          <li><a href="mailto:mail@specsintez.com"><i class="fa fa-envelope"></i>&nbsp;mail@specsintez.com</li>
          <li>&nbsp;</li>
          <li>Social</li>
          <li>
            <a href="#"><i class="fa fa-vk"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>ADDRESS</h3>
        <ul class="footer-list">
          <li>49, Liter "K", Industrialnij prospekt </li>
          <li>St. Peterburg,  Russia, 195279</li>
        </ul>
      </div>
{% endif %}


    </div>
    <p>{{ powered }}</p>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script type="text/javascript">

$( document ).ready(function() {
  jQuery(document).on('click', '.mega-dropdown', function(e) {
    e.stopPropagation()
  })
  $('.panel-menu-item').on( "mouseover", function(){
    $(this).css('background', 'rgb(54,154,56)')
    $(this).css('color', '#FEFAEA')
    dataid = $(this).attr('data')
    if( dataid == 94 ) $('#menu_' + dataid).css('background-position',  '0px    0px')
    if( dataid == 87 ) $('#menu_' + dataid).css('background-position',  '-30px  0px')
    if( dataid == 54 ) $('#menu_' + dataid).css('background-position',  '-61px  0px')
    if( dataid == 10 ) $('#menu_' + dataid).css('background-position',  '-91px  0px')
    if( dataid == 131 ) $('#menu_' + dataid).css('background-position', '-122x 0px')
    if( dataid == 72 ) $('#menu_' + dataid).css('background-position',  '-152px 0px')
    if( dataid == 117 ) $('#menu_' + dataid).css('background-position', '-179px 0px')
    if( dataid == 150 ) $('#menu_' + dataid).css('background-position', '-211px 0px') 
    if( dataid == 168 ) $('#menu_' + dataid).css('background-position', '-240px 0px')
    if( dataid == 116 ) $('#menu_' + dataid).css('background-position', '-271px 0px')          
    $('#panel_link_' + dataid).css('color', 'white');
  }) 
  $('.panel-menu-item').on( "mouseout", function(){
    $(this).css('background', '#FFFFFF')
    $(this).css('color', '#111')
    
    if( dataid == 94 ) $('#menu_' + dataid).css('background-position',  '0px    -30px')
    if( dataid == 87 ) $('#menu_' + dataid).css('background-position',  '-30px  -30px')
    if( dataid == 54 ) $('#menu_' + dataid).css('background-position',  '-61px  -30px')
    if( dataid == 10 ) $('#menu_' + dataid).css('background-position',  '-91px  -30px')
    if( dataid == 131 ) $('#menu_' + dataid).css('background-position', '-122px -30px')
    if( dataid == 72 ) $('#menu_' + dataid).css('background-position',  '-152px -30px')
    if( dataid == 117 ) $('#menu_' + dataid).css('background-position', '-179px -30px')
    if( dataid == 150 ) $('#menu_' + dataid).css('background-position', '-211px -30px') 
    if( dataid == 168 ) $('#menu_' + dataid).css('background-position', '-240px -30px')
    if( dataid == 116 ) $('#menu_' + dataid).css('background-position', '-271px -30px') 
    $('#panel_link_' + dataid).css('color', '#111');
  })
});


  
</script>
</body></html>

