<div class="container">


    {% for item in categories %}

      {% if loop.index == 1 or loop.index == 6 %}
          <div class="row">
      {% endif %}

          {% if loop.index < 11 %}
            <div class="col-md-1-5">
                <div class="panel panel-primary">
                    {{ item.name }}
                </div>
            </div>
          {% endif %}

      {% if loop.index % 5 == 0 %}
          </div>
      {% endif %}

    {% endfor %}

<h3>Производитель профессиональной химии</h3>
  <div class="col-md-8">
    lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor 
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
    <img class="col-md-6" src="/image/catalog/demo/banners/iPhone6.jpg" alt="alt" title="title"/>
  </div>  
</div>

