<div class="container">


    {% for item in categories %}

      {% if loop.index == 1 or loop.index == 6 %}
          <div class="row">
      {% endif %}

          {% if loop.index < 11 %}
            <div class="col-md-1-5">
                <div class="panel panel-primary">
                    {{  item.category_id }} : {{  item.name }}
                </div>
            </div>
          {% endif %}

      {% if loop.index % 5 == 0 %}
          </div>
      {% endif %}

    {% endfor %}

  <hr/>

  <div class="row">
    
    <div class="col-md-1-5">
      <div class="panel panel-primary">
        Учреждения здравохранения
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="panel panel-success">
        Салоны красоты и SPA
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="panel panel-info">
        Пищевая промышленность
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="panel panel-warning">
        Сельское хозяйство
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="panel panel-danger">
        HoReGa
      </div>
    </div>

  </div>

    <div class="row">

    <div class="col-md-1-5">
      <div class="panel panel-danger">Школы и детские сады</div>
    </div>

    <div class="col-md-1-5">
      <div class="panel panel-primary">
        Клининг
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="panel panel-success">
        Машиностроение и металлургия
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="panel panel-info">
        Транспорт
      </div>
    </div>
    <div class="col-md-1-5">
      <div class="panel panel-warning">Обслуживание теплообменного оборудования</div>
    </div>

  </div>
</div>

<div class="container">
<h3>Производитель профессиональной химии</h3>
  <div class="col-md-8">
    lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor 
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
    <img class="col-md-6" src="/image/catalog/demo/banners/iPhone6.jpg" alt="alt" title="title"/>
  </div>  
</div>

<div class="container">
  <h3>Производитель профессиональной химии</h3>

  <div class="col-md-4">
    <img src="/image/catalog/demo/banners/MacBookAir.jpg" alt="" class="col-md-12">
    <h4>wqwlqkw</h4>
    <div>12/12/2315</div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem cum tempora inventore asperiores assumenda dolor architecto alias reprehenderit beatae quod ea sapiente delectus voluptatem provident molestiae, nisi voluptatibus sequi.
  </div>

  <div class="col-md-4">
    <img src="/image/catalog/demo/banners/MacBookAir.jpg" alt="" class="col-md-12">
    <h4>wqwlqkw</h4>
    <div>12/12/2315</div>    
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsam necessitatibus, laudantium, perferendis facilis qui, accusamus ut accusantium veniam aspernatur suscipit porro autem voluptatibus modi quas. Quibusdam fugit, sunt dolorum?
  </div>

  <div class="col-md-4">
    <img src="/image/catalog/demo/banners/MacBookAir.jpg" alt="" class="col-md-12">
    <h4>wqwlqkw</h4>
    <div>12/12/2315</div>    
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsam necessitatibus, laudantium, perferendis facilis qui, accusamus ut accusantium veniam aspernatur suscipit porro autem voluptatibus modi quas. Quibusdam fugit, sunt dolorum?
  </div>

</div>