<div class="container">
  <div class="row">
      {% for item in categories %}

        {% if loop.index == 1 or loop.index == 6 %}
            <div class="row">
        {% endif %}

            {% if loop.index < 11 %}
              <div class="col-md-1-5 " style="text-align:center;">
                  <div class="panel_menu">
                    <a href="{{ item.href }}">
                      <img src="/image/{{ item.image }}" alt="" title=""/> <br/> 
                      {{ item.name }}
                    </a>
                  </div>
              </div>
            {% endif %}

        {% if loop.index % 5 == 0 %}
            </div>
        {% endif %}

      {% endfor %}
  </div>
  <div class="row" id="information">
    
    {{ information_description | raw }}
  
  </div>  

</div>

