{#
<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>
#}

<form class="navbar-form navbar-right" role="search" style="margin-top:2px;">
    <div id="search" class="form-group" style="padding:0px; margin:0px; outline:0px solid blue; margin-right:10px;">
      
      <input type="text" name="search" value="{{ search }}" class="form-control" placeholder="{{ text_search }}" style="padding-top:0px; padding-bottom:0px;border-radius:0px; height:20px;">
      
      <input type="submit" class="btn btn-default" value='' style="margin-left: -30px; outline:0px dashed red;
    height: 18px; width: 20px; border: 0; -webkit-appearance: none; background:url('/image/search-button.png') no-repeat center;">
    </div>
{#
    <button type="submit" class="btn btn-default">
      <i class="fa fa-search"></i> 
    </button>
#}
</form>
	
