{% if toparticles %}

{% for article_item in toparticles %}
  <div class="article_item col-sm-12 debug-4">
    <h4 class="price-h4">{{ article_item.title }}</h4>
    <p>
      {{ article_item.information_id }}
      <br>
      {{ article_item.meta_keyword }}
      <br>
      {{ article_item.description }}
    </p>
  </div>
{% endfor %}

{% endif %} 


