{% if toparticles %}

{% for article_item in toparticles %}
  <div class="article_item col-sm-12 debug-4">
    <a href="index.php?route=information/information&information_id={{ article_item.information_id }}">
    {% if article_item.image %}
      <img style="width:100%;" src="/image/catalog/articles/empty_0.png" alt="article">
    {% else %}
      {{ article_item.image }}
    {% endif %}
    
    <h4 class="price-h4">{{ article_item.title }}</h4>
    {##} 
    </a>
  </div>
{% endfor %}

{% endif %} 


