{% if topnews %}
{# 
<h4 class="h4-info"><spam class="green-uline">{{ heading_title }}&nbsp;</span></h4>
<br/>
#}
{% for article_item in topnews %}
  <div class="article_item col-sm-12 ">
    <a href="index.php?route=information/information&information_id={{ article_item.information_id }}">
    {% if article_item.image %}
      <img style="width:100%;" src="/image/catalog/articles/empty_0.png" alt="article">
    {% else %}
      {{ article_item.image }}
    {% endif %}
    
    <h4 class="price-h4">{{ article_item.title }}</h4>
    {##} 
    </a>
  </div>
{% endfor %}

{% endif %} 


