<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-zone">
  <ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_zone.name }}<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
        {% for zone in zones %}
        <li><a href="#">{{ zone.name }}</a></li>
        {% endfor %}
        <li class="divider"></li>
        <li><a href="#">Выберите город</a></li>
        </ul>
    </li>
  </ul>
  <input type="hidden" name="code" value="" />
  <input type="hidden" name="redirect" value="{{ redirect }}" />
</form>
