{{ header }}
<div id="information-contact" class="container">
	<ul class="breadcrumb" style="padding-left:0px; margin-left:0px;">
	{% for breadcrumb in breadcrumbs %}
	<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
	</ul>

	<div class="row">
	  	<div class="col-lg-4">
			<h4>ООО «НПО «СпецСинтез»</h4> Один из ведущих отечественных разработчиков и производитель профессиональных моющих и дезинфицирующих средств для медицины, ветеринарии и пищевой промышленности. 
<br/>
			Компания ведет свою историю с 2004 года. Первые сотрудники компании, инженеры-химики с технологической научной базой, решили применить свои знания в практической сфере. Основатели стояли у истоков внедрения профессиональной химии на предприятиях РФ
			Первое направление продаж – медицинское, параллельно развивалось сотрудничество с РЖД. 
<br/>
			Для РЖД были разработаны специальные продукты под требования клиента, а именно средства внешней очистки составов, внутренней дезинфекции в вагонах и личной гигиены проводников. 
<br/>
			Постепенно стало понятно, что продукция может быть применима в более широких областях, а именно в ветеринарии, коммерческом клининге и пищевой безопасности.
<br/>
			С самого начала компанию привлекали разработка и исследования. Поэтому многие средства в ассортименте явились результатом «разработки под клиента». 
<br/>
			Благодаря поиску новейших инновационных компонентов в ассортименте появились хиты продаж, не имеющие аналогов на рынке.
			Научный подход к разработке компании привлекает в команду ученых, специалистов в областях химии, медицины, ветеринарии, микробиологии.
<br/>
			В 2010 году компания начала экспортные поставки в Беларусь, а несколькими годами позднее и в Казахстан. 
		</div>

		<div class="col-lg-4">
			<h4>Ключевые продукты</h4>

			Широкая линейка химической продукции включает в себя не только дезинфицирующие, стерилизующие средства, кожные антисептики, но и профессиональные моющие средства, а также жидкое мыло и профессиональные защитные кремы.
			<p>
			В сфере сельского хозяйства выпускается главным образом продукция для дезинфекции животноводческих помещений и заправки защитных дезбарьеров, средства обработки транспорта, прилегающей территории и инвентаря, а также гигиеническая продукция для здоровья поголовья молочного стада для следующих направлений:
			</p>
			<ul>
			<li>Свиноводство</li>
			<li>Птицеводство</li>
			<li>Молочное животноводство</li>
			<li>Убойные пункты и мясопереработка</li>
			</ul>

			<div>
			В сфере медицины компания предлагает сотрудникам организаций, осуществляющих медицинскую деятельность, все необходимое для обеспечения санитарно-эпидемиологического режима, создания и поддержания чистоты в лечебно-профилактических организациях:
				<ul>
					<li>Стационары</li>
					<li>Амбулатории</li>
					<li>Родильные дома</li>
					<li>Санатории</li>
					<li>Диагностические центры</li>
					<li>Родильные дома</li>
					<li>Станции скорой помощи</li>
				</ul>
			</div>

			<div>
				В сфере тяжелой промышленности выпускается продукция для клининга производственных зон, промывки теплообменников, очистки узлов и деталей, очистки транспорта и соблюдения требований охраны труда в сферах:
				<ul>
					<li>Предприятия тяжелой промышленности</li>
					<li>Транспортная промышленность</li>
					<li>Теплоэнергетический комплекс</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-4">
			<h4>Преимущества ООО «НПО Спецсинтез»:</h4>

			Разработка инновационных рецептур в собственной лаборатории фирмы
			<p>
			Вся продукция соответствует существующим санитарным требованиям, имеет Свидетельства о государственной регистрации, Декларации о соответствии, подробные Инструкции по применению и отчеты по эффективности.  
			</p>
			<p>
			Собственная производственная база в Санкт-Петербурге
			</p>
			<p>
			Поставка сопровождается комплексным сервисом – подбор оптимального набора дезинфицирующих и моющих средств, мастер-классы, внедрение технологий профессиональной уборки, обучение персонала, аудит санитарного состояния, бесплатное тестирование и выезд менеджера в учреждение.
			</p>
			<p>
			География поставок – все регионы РФ. Продукцию можно приобрести со специализированных складов в Санкт-Петербурге, Москве и Ростове-на-Дону, а также через широкую дилерскую сеть.
			</p>
	  	</div>
	</div>
{#
	<div class="row">
		<div class="col-sm-12" style="text-align:center;">
			<img src="/image/catalog/pages/about-page.png" style="width:75%;" alt="About">		
		</div>
	</div>
#}
</div>

{{ footer }}
