{{ header }}

<div id="information-newslist" class="container">
    
    <div class="row">
        
        <div class="col-md-6" style="text-align:center;">
<img src="/image/catalog/landing/bigimage_left.png" alt="" title="" style="width:60%;" /> 
        </div>

        <div class="col-md-6" style="text-align:center;">
<img src="/image/catalog/landing/bigimage_right.png" alt="" title="" style="width:60%;"/>         
<a href="https://www.specsintez.com/%D1%82%D1%80%D0%B8%D0%BE%D1%81%D0%B5%D0%BF%D1%82-%D1%8D%D0%BD%D0%B4%D0%BE-%D0%B2%D0%B5%D1%82" target="_blank" >
    <img src="/image/catalog/landing/go_to_product.png" alt="" title=""/>
</a>
        </div>

        {# <img src="/image/catalog/landing/bigimage.png" alt="" title=""/> #}
    </div>

    <div class="row">
        <div class="col-md-12" style="test-align:center"> 
            <p style="font-family: Arial, Helvetica, sans-serif; text-align:center; color: rgb(54,154,56); font-size:36px; font-weight: normal;">
            ОБЛАСТИ ПРИМЕНЕНИЯ
            </p>
        </div>
    </div>

    <div class="row seven-cols" style="color:#010101; font-size:18px;">
		<div class="col-md-1">Дезинфекция помещений</div>
		<div class="col-md-1">Дезинфекция транспорта</div>
		<div class="col-md-1">Заполнение дезбарьеров</div>
		<div class="col-md-1">Обработка территории</div>
		<div class="col-md-1">Заполнение дезковриков</div>
		<div class="col-md-1">Обработка обуви и спецодежды</div>
		<div class="col-md-1">Меры профилактики распространения АЧС</div>  
    </div>
    <div class="row" style="text-align:center;">
        <img src="/image/catalog/landing/applicable_only.png" alt="" title=""/>
    </div>

    <div class="row">
        <div class="col-md-12" style="test-align:center"> 
            <p style="font-family: Arial, Helvetica, sans-serif; text-align:center; color: rgb(54,154,56); font-size:36px; font-weight: normal;padding-top:12px;">ДОКУМЕНТАЦИЯ</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"> 
            <p style="margin-bottom:0px; font-family: Arial, Helvetica, sans-serif; text-align: left; color: rgb(54,154,56); font-size:18px; font-weight: normal;">
            Инструкция производителя 
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif; text-align: left; color: #010101; font-size:18px; font-weight: normal;">
            ООО "НПО СпецСинтез" 
            </p>
            <br/>

            <p style="margin-bottom:0px; font-family: Arial, Helvetica, sans-serif; text-align: left; color: rgb(54,154,56); font-size:18px; font-weight: normal;">
            Отчет эффективности против АЧС 
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif; text-align: left; color: #010101; font-size:18px; font-weight: normal;">
            Всероссийский научно - исследовательский институт ветеринарной вирусологии и микробиологии 2018 
            </p>
            <br/>

            <p style="margin-bottom:0px; font-family: Arial, Helvetica, sans-serif; text-align: left; color: rgb(54,154,56); font-size:18px; font-weight: normal;">
            Отчет эффективности против АЧС 
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif; text-align: left; color: #010101; font-size:18px; font-weight: normal;">
            Всероссийский научно - исследовательский институт ветеринарной вирусологии и микробиологии 2018 
            </p>
            <br/>

            <p style="margin-bottom:0px; font-family: Arial, Helvetica, sans-serif; text-align: left; color: rgb(54,154,56); font-size:18px; font-weight: normal;">
            Отчет эффективности против АЧС 
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif; text-align: left; color: #010101; font-size:18px; font-weight: normal;">
            Всероссийский научно - исследовательский институт ветеринарной вирусологии и микробиологии 2018 
            </p>
            <br/>

            <p style="margin-bottom:0px; font-family: Arial, Helvetica, sans-serif; text-align: left; color: rgb(54,154,56); font-size:18px; font-weight: normal;">
            Отчет эффективности против АЧС 
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif; text-align: left; color: #010101; font-size:18px; font-weight: normal;">
            Всероссийский научно - исследовательский институт ветеринарной вирусологии и микробиологии 2018 
            </p>
            <br/>

            <p style="margin-bottom:0px; font-family: Arial, Helvetica, sans-serif; text-align: left; color: rgb(54,154,56); font-size:18px; font-weight: normal;">
Испытания эффективности против особо опасных инфекций 
            </p>
            <p style="margin-bottom:0px; font-family: Arial, Helvetica, sans-serif; text-align: left; color: #010101; font-size:18px; font-weight: normal;">
ФГУС Волгоград НИЧПИ Роспотребнадзора, 2010 
            </p>
            <ul style="color:#010101; font-size:16px;font-family: Arial, Helvetica, sans-serif; ">
                <li>Чума <span style="font-style:italic;">Y.pestis</span></li>
                <li>Холера <span style="font-style:italic;">V. holerae eltor</span></li>
                <li>Туляремия <span style="font-style:italic;">Francisella tularensis</span></li>
                <li>Сап <span style="font-style:italic;">Burkholderia mallei</span></li>
                <li>Мелиоидоз <span style="font-style:italic;">B. pseudomallei</span></li>
            <li>Сибирская язва <span style="font-style:italic;">Bacillus anthracis</span></li>
            </ul>

            {#<img src="/image/catalog/landing/documentation_left.png" alt="" title=""/>#}
        </div>
        <div class="col-md-6" style="text-align:right;" >
            <img src="/image/catalog/landing/documentation_right.png" alt="" title=""/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="test-align:center"> 
            <p style="font-family: Arial, Helvetica, sans-serif; text-align:center; color: rgb(54,154,56); font-size:36px; font-weight: normal;">
           СЕРВИС 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"> 

            <p style="font-family: Arial, Helvetica, sans-serif; text-align:center; color: rgb(54,154,56); font-size:20px; font-weight: normal;">
           ОПЫТ ПОСТАВОК НА ВЕТОБЪЕКТЫ 
            </p>
            <ul style="color:#010101; font-size:20px;font-family: Arial, Helvetica, sans-serif; ">
                <li>Сроки отгрузки - от 1 рабочего дня</li>
                <li>Резерв запаса дезсредств на складе производителя</li>
                <li>Объем резерва: от 10 000 литров в месяц</li>
                <li>Выезд на ветобъект для анализа концентрации раствора на дезбарьере</li>
            </ul>

            {# <img src="/image/catalog/landing/service_left.png" alt="" title=""/> #}
        </div>
        <div class="col-md-6"> 
            <p style="font-family: Arial, Helvetica, sans-serif; text-align:center; color: rgb(54,154,56); font-size:20px; font-weight: normal;">
           БЕСПЛАТНЫЕ УСЛУГИ ДЛЯ КЛИЕНТОВ 
            </p>
            <ul style="color:#010101; font-size:20px;font-family: Arial, Helvetica, sans-serif; ">
                <li>Проведение испытаний на ветобъекте с выездом специалиста</li>
                <li>Лабораторные исследования дезсредств</li>
                <li>Обучение персонала клиентов</li>
                <li>Техническая поддержка - безлимитно</li>
            </ul>

            {#<img src="/image/catalog/landing/service_right.png" alt="" title=""/> #}
        </div>
    </div>
    {#
    <div class="row">
        <div class="col-md-12" style="text-align:center;" > 
            <a href="#">
                 <img src="/image/catalog/landing/call_back.png" alt="" title=""/>
            </a>
        </div>
    </div>
    #}
</div>

{#
<script type="text/javascript">
var ZCallbackWidgetLinkId  = 'c8aa3be281f400d7e85aa0952bf620de';
var ZCallbackWidgetDomain  = 'my.zadarma.com';
(function(){
    var lt = document.createElement('script');
    lt.type ='text/javascript';
    lt.charset = 'utf-8';
    lt.async = true;
    lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js';
    var sc = document.getElementsByTagName('script')[0];
    if (sc) sc.parentNode.insertBefore(lt, sc);
    else document.documentElement.firstChild.appendChild(lt);
})();
</script>
#}

{# to Alex phone number #}
<script type="text/javascript">
var ZCallbackWidgetLinkId  = '055aab26e05459268df5cf64d40327b4';
var ZCallbackWidgetDomain  = 'my.zadarma.com';
(function(){
    var lt = document.createElement('script');
    lt.type ='text/javascript';
    lt.charset = 'utf-8';
    lt.async = true;
    lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js';
    var sc = document.getElementsByTagName('script')[0];
    if (sc) sc.parentNode.insertBefore(lt, sc);
    else document.documentElement.firstChild.appendChild(lt);
})();
</script>



{{ footer }}

