{{ header }}

<div id="information-newslist" class="container">
    
    <div class="row">
        
        <div class="col-md-6" style="text-align:center;">
<img src="/image/catalog/landing/bigimage_left.png" alt="" title="" style="width:60%;" /> 
        </div>

        <div class="col-md-6" style="text-align:center;">
<img src="/image/catalog/landing/bigimage_right.png" alt="" title="" style="width:60%;"/>         
<a href="https://www.specsintez.com/%D1%82%D1%80%D0%B8%D0%BE%D1%81%D0%B5%D0%BF%D1%82-%D1%8D%D0%BD%D0%B4%D0%BE-%D0%B2%D0%B5%D1%82" target="_blank" >
    <img src="/image/catalog/landing/go_to_product.png" alt="" title=""/>
</a>
        </div>

        {# <img src="/image/catalog/landing/bigimage.png" alt="" title=""/> #}
    </div>

    <div class="row">
        <div class="col-md-12" style="test-align:center"> 
            <p style="font-family: Arial, Helvetica, sans-serif; text-align:center; color: rgb(54,154,56); font-size:36px; font-weight: normal;">
            ОБЛАСТИ ПРИМЕНЕНИЯ
            </p>
        </div>
    </div>
    <div class="row" style="text-align:center;">
        <img src="/image/catalog/landing/applicable_only.png" alt="" title=""/>
    </div>

    <div class="row">
        <div class="col-md-12" style="test-align:center"> 
            <p style="font-family: Arial, Helvetica, sans-serif; text-align:center; color: rgb(54,154,56); font-size:36px; font-weight: normal;padding-top:12px;">ДОКУМЕНТАЦИЯ</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"> 
            <img src="/image/catalog/landing/documentation_left.png" alt="" title=""/>
        </div>
        <div class="col-md-6" style="text-align:right;" >
            <img src="/image/catalog/landing/documentation_right.png" alt="" title=""/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="test-align:center"> 
            <p style="font-family: Arial, Helvetica, sans-serif; text-align:center; color: rgb(54,154,56); font-size:36px; font-weight: normal;">
           СЕРВИС 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"> 
            <img src="/image/catalog/landing/service_left.png" alt="" title=""/>
        </div>
        <div class="col-md-6"> 
            <img src="/image/catalog/landing/service_right.png" alt="" title=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;" > 
            <a href="#">
                 <img src="/image/catalog/landing/call_back.png" alt="" title=""/>
            </a>
        </div>
    </div>
</div>



{{ footer }}

